h1 {
    font-family: georgia, serif;
    
}

#título {
    text-align: center;
}

#itens {
    font-family: monospace;
    font-size: larger;
    text-align: center;
    padding: 30px;
}

.item {
    text-align: left;
}

.count {
    text-align: right;
}